<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>dialog</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="stylesheet" href="/assets/app.css">
<style>
    h2{
        margin: 10px;
    }
</style>
</head>
<body>
  <div class="rui-masker">
    <div class="rui-dialog">
      <header class="hd">
          <h2 class="title">title</h2>
      </header>
      <div class="bd">content</div>
      <footer class="ft">
        <button class="rui-btn rui-btn-dialog rui-btn-l">取消</button>
        <button class="rui-btn rui-btn-dialog rui-btn-l">确定</button>
      </footer>
    </div>
  </div>
</body>
</html>
