<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalabel=no" />
<title>列表</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="stylesheet" href="/assets/app.css">
<style>
    h2{
        margin: 10px;
    }
</style>
</head>
<body>
<div>
    <h2> 默认</h2>
    <ul class="rui-list">
        <li class="item">
            <div class="label">选择</div>
            <div class="label flex">标题在这里展示在这里在这里</div>
        </li>
        <li class="item">
            <div class="label">选择</div>
            <div class="label flex">标题在这里展示在这里在这里</div>
        </li>
        <li class="item">
            <div class="label">选择</div>
            <div class="label flex">标题在这里展示在这里在这里</div>
        </li>
    </ul>
    <h2>loan</h2>
    <ul class="test-list test-list-loan">
        <li class="item">
            <div class="label"><i class="rui-ico checked">&#xe901;</i></div>
            <div class="flex">标题在这里展示在这里在这里</div>
            <div class="label"><i class="rui-ico">&#xe904;</i></div>
        </li>
        <li class="item">
            <div class="label"><i class="rui-ico checked">&#xe901;</i></div>
            <div class="flex">标题在这里展示在这里在这里</div>
            <div class="label"><i class="rui-ico">&#xe904;</i></div>
        </li>
        <li class="item">
            <div class="label"><i class="rui-ico checked">&#xe901;</i></div>
            <div class="flex">标题在这里展示在这里在这里</div>
            <div class="label"><i class="rui-ico">&#xe904;</i></div>
        </li>
    </ul>
</div>
</body>
</html>
