<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>toast</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="stylesheet" href="/assets/app.css">
<style>
    h2{
        margin: 10px;
    }
</style>
</head>
<body>
<div>
    <div class="rui-toast">
        验证失败，请重新再试
    </div>
</div>
</body>
</html>
