<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>按钮</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="stylesheet" href="/assets/app.css">
<style>
    h2{
        margin: 10px;
    }
</style>
</head>
<body>
<div>
    <h2> 默认</h2>
    <header class="rui-header">
        <span class="back">
            <i class="rui-ico">&#xe601;</i>
        </span>
        <span class="next">
            <i class="rui-ico">&#xe603;</i>北京
        </span>
    </header>
    <h2>贷款</h2>
    <header class="rui-header rui-header-loan">
        <h2 class="title">贷款</h2>
        <span class="back">
            <i class="rui-ico">&#xe600;</i>
        </span>
        <span class="next">
            <i class="rui-ico">&#xe603;</i>北京
        </span>
    </header>
    <h2>理财</h2>
    <header class="rui-header rui-header-licai">
        <span class="back">
            <i class="rui-ico">&#xe600;</i>
        </span>
        <span class="next">
            <i class="rui-badge rui-badge-hd">北京</i>
        </span>
    </header>
    <h2>车贷</h2>
    <header class="rui-header rui-header-car">
        <span class="back">
            <i class="rui-ico">&#xe600;</i>
        </span>
        <span class="next">
            <i class="rui-ico">&#xe603;</i>北京
        </span>
    </header>
    <h2>信用卡</h2>
    <header class="rui-header rui-header-cread">
        <span class="back">
            <i class="rui-ico">&#xe600;</i>
        </span>
        <span class="next">
            <i class="rui-ico">&#xe603;</i>北京
        </span>
    </header>
    <h2>房贷</h2>
    <header class="rui-header rui-header-house">
        <span class="back">
            <i class="rui-ico">&#xe600;</i>
        </span>
        <span class="next">
            <i class="rui-ico">&#xe603;</i>北京
        </span>
    </header>
</div>
</body>
</html>
