<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="/assets/app.css">
    <style>
        body{ margin: 0px; padding: 5px;}
        div{background-color: #fff;}
        p{ padding: 10px;background-color: #ccc;}
        a{display: block; line-height: 40px; text-decoration: none; padding-left: 10px;}
        a:nth-child(odd) {}
    </style>
</head>
<body >
<div>
<p>element</p>
    <a href="./element/rui-badge.html">rui-badge</a>
    <a href="./element/rui-btn.html">rui-btn</a>
    <a href="./element/rui-checked.html">rui-checked</a>
    <a href="./element/rui-font.html">rui-font</a>
    <a href="./element/rui-input.html">rui-input</a>
    <a href="./element/rui-loading.html">rui-loading</a>
<p>fragment</p>
    <a href="./fragment/rui-header.html">rui-header</a>
    <a href="./fragment/rui-list.html">rui-list</a>
    <a href="./fragment/rui-tips.html">rui-tips</a>
    <a href="./fragment/rui-masker.html">rui-masker</a>
    <a href="./fragment/rui-dialog.html">rui-dialog</a>
    <a href="./fragment/rui-popup.html">rui-popup</a>
    <a href="./fragment/rui-picker.html">rui-picker</a>
<p>layout</p>
    <a href="./layout/rui-flex.html">layout</a>
<p>widget</p>
    <a href="./widget/rui-tab.html">rui-tab</a>
</div>
<script src="/assets/app.js"></script>
</body>
</html>
