<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalabel=no" />
<title>rui-tab</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="stylesheet" href="/assets/app.css">
<style>
    h2{
        margin: 10px;
    }
</style>
</head>
<body>
<h2>默认</h2>
<ul class="rui-tab">
    <li class="item item-on">贷款</li>
    <li class="item">房贷</li>
    <li class="item">车贷</li>
    <li class="item">信用卡</li>
    <li class="item">理财</li>
</ul>
<h2>圆角</h2>
<ul class="rui-tab rui-tab-radius">
    <li class="item item-on">贷款</li>
    <li class="item">房贷</li>
    <li class="item">车贷</li>
    <li class="item">信用卡</li>
    <li class="item">理财</li>
</ul>
</body>
</html>
