<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>rui-loading</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="stylesheet" href="/assets/app.css">
</head>
<body>
<div style="padding:20px;">
    <h2>默认</h2>
    <div class="rui-loading rui-loading-test1">
        <div class="inner">
            <i class="rui-ico"></i>
        </div>
    </div>
    <h2>定制</h2>
    <div class="rui-loading rui-loading-test2">
        <div class="inner">
            <i class="rui-ico"></i>
        </div>
    </div>
    <h2>定制有标题</h2>
    <div class="rui-loading rui-loading-test3">
        <div class="inner">
            <i class="rui-ico"></i>
            <span>加载中...</span>
        </div>
    </div>
</div>
</body>
</html>
