<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>ruichecked</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="stylesheet" href="/assets/app.css">
<style>
    label{ margin: 10px;}
</style>
</head>
<body>
<div style="padding:20px;">
    <h1>单选默认</h1>
    <label class="rui-checked rui-checked-a">
        <input type="radio" name="testa" checked/>
        <span class="type"></span>
    </label>
    <label class="rui-checked rui-checked-a">
        <input type="radio" name="testa"/>
        <span class="type"></span>
    </label>
    <h1>单选带边框</h1>
    <label class="rui-checked rui-checked-b">
        <input type="radio" name="testb" checked/>
        <span class="type"></span>
    </label>
    <label class="rui-checked rui-checked-b">
        <input type="radio" name="testb"/>
        <span class="type"></span>
    </label>
    <h1>单选带背景</h1>
     <label class="rui-checked rui-checked-c">
        <input type="radio" name="testc" checked/>
        <span class="type"></span>
    </label>
    <label class="rui-checked rui-checked-c">
        <input type="radio" name="testc"/>
        <span class="type"></span>
    </label>
    <h1>单选带圆角</h1>
    <label class="rui-checked rui-checked-d">
        <input type="radio" checked name="testd"/>
        <span class="type"></span>
    </label>
    <label class="rui-checked rui-checked-d">
        <input type="radio" name="testd"/>
        <span class="type" ></span>
    </label>
</div>
</body>
</html>
