<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>ruifont</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="stylesheet" href="/assets/app.css">
<style>
    .m-btn-list li{
        margin-bottom: 10px;
    }
</style>
</head>
<body>
<div style="padding:20px;">
    <ul class="m-btn-list">
        <li>
            <i class="rui-ico">&#xe60b;</i>
            <div>&amp;#xe60b;</div>
        </li>
        <li>
            <i class="rui-ico">&#xe900;</i>
            <div>&amp;#xe900;</div>
        </li>
        <li>
            <i class="rui-ico">&#xe600;</i>
            <div>&amp;#xe600;</div>
        </li>
        <li>
            <i class="rui-ico">&#xe601;</i>
            <div>&amp;#xe601;</div>
        </li>
        <li>
            <i class="rui-ico">&#xe603;</i>
            <div>&amp;#xe603;</div>
        </li>
        <li>
            <i class="rui-ico">&#xe626;</i>
            <div>&amp;&#xe626;</div>
        </li>
        <li>
            <i class="rui-ico">&#xe901;</i>
            <div>&amp;&#xe901;</div>
        </li>
    </ul>
</div>
</body>
</html>
